extends _layout/layout

block variables
	- var title = 'WORN and FADED - The untold history of the Rock Tee'
	- var description = 'WORN and FADED - The untold history of the Rock Tee'
	- var bodyclass = 'home'
	- var href = "/index.html"

block body
	#loadingpage 
		//- svg.screen.logoanimationscreen(version="1.1", xmlns="http://www.w3.org/2000/svg", xlink="http://www.w3.org/1999/xlink", x="0px", y="0px", viewBox="0 0 100% 100%" style="enable-background:new 0 0 100% 100%;" xml:space="preserve")
			rect(y="0")
		svg.icon.logoanimation(version="1.1", xmlns="http://www.w3.org/2000/svg", xlink="http://www.w3.org/1999/xlink", x="0px", y="0px", viewBox="0 0 784.19 497.39" style="enable-background:new 0 0 784.19 497.39;" xml:space="preserve")
			path(d="M100.79,201.17l22.78-73.34l22.78,73.34h54.88l19.9-88.97c4.05,53.78,47.73,94.94,103.17,94.94 c47.33,0,85.45-29.79,98.58-71.11v65.13h57.39v-72.72l33.99,72.72H630.8v-95.76l70.71,95.76h44.83V6.89h-57.11v87.66L628.02,6.89 h-54.33v180.69l-37.15-65.51c10.76-4.99,19.12-12.16,25.06-21.51c5.94-9.34,8.91-20.03,8.91-32.06c0-11.84-2.84-22.44-8.49-31.78 c-5.68-9.34-14.07-16.65-25.22-21.92s-24.61-7.91-40.39-7.91h-94.36l20.81,25.58V72c-13.15-41.37-51.3-71.09-98.58-71.09 c-39.31,0-72.09,20.49-89.67,50.92l10.04-44.95h-59.89l-19.16,95.51L123.56,3.56L81.51,102.4L62.33,6.89H2.44l43.45,194.28 C45.89,201.17,100.79,201.17,100.79,201.17z M480.26,52.41h6.7c8.17,0,14.49,1.89,18.94,5.69c4.46,3.8,6.68,8.93,6.68,15.4 c0,6.49-2.23,11.61-6.68,15.4c-4.46,3.8-10.76,5.69-18.94,5.69h-6.7V52.41z M324.31,59.56c24.78,0,44.64,18.61,44.64,44.47 c0,25.78-19.79,44.47-44.64,44.47c-24.89,0-44.64-18.73-44.64-44.47C279.67,78.19,299.49,59.56,324.31,59.56z M745.8,274.03 l33.77-36.43H674.73l11.26-12.14H538.17l-33.77,36.43h104.84l-11.26,12.14H745.8z M183.63,274.03l-11.26-12.14h104.84 l-33.77-36.43H95.62l11.26,12.14H2.04l33.77,36.43H183.63z M527.95,419.6h54.59v-50.22h-54.59v-20.81h67.97l-6.96-50.22H470.84 v61.39c-14.19-36.87-50.26-61.39-94.6-61.39h-68.8v146.11L258.2,298.34h-68.8l-65.47,194.28h54.12l69.71-51.7l14.06,51.7h114.43 c44.42,0,80.42-24.57,94.6-61.4v61.4h120.63l6.96-50.22h-70.48L527.95,419.6L527.95,419.6z M202.05,433.11l21.87-79.85 l21.72,79.85H202.05z M373.72,438.74h-8.36v-86.6h8.36c28.51,0,44.57,17.84,44.57,43.3C418.29,421.36,401.79,438.74,373.72,438.74 z M671.68,298.31h-68.8v194.28h68.8c57.6,0,101.13-41.31,101.13-97.14C772.81,339.22,728.87,298.31,671.68,298.31z M672.66,438.74 h-8.36v-86.6h8.36c28.17,0,44.57,17.5,44.57,43.3C717.23,420.91,701.17,438.74,672.66,438.74z M144.37,372.97H92.56v-22.76h66 l17.48-51.91H6.55l28.07,34.5v159.77h57.94v-67.72h35.11L144.37,372.97z M404.16,243.43l-16.82-17.9h-16.84v48.5h19.77v-17.82 l16.78,17.82h16.68v-48.5h-19.6v17.9H404.16z M462.29,225.53h-25.61v48.5h25.61c13.96,0,24.84-10.12,24.84-24.25 C487.11,235.92,476.52,225.53,462.29,225.53z M461.06,256.06h-4.96V243.5h4.96c4.01,0,6.36,2.53,6.36,6.28 C467.42,253.51,465.09,256.06,461.06,256.06z M315.78,274.03l20.17-11.69l4.71,11.69h21.64l-24.74-48.43l0.04-0.08h-16.97 l0.04,0.08l-24.74,48.43H315.78z M329.1,245.32l5.28,13.09h-10.4L329.1,245.32z")
	#home-page
		section.section#worn-home
			#video-container-fullscreen
				video#video-background(preload="none" autoplay loop muted width="1280" height="720", playsinline)
					source(src="/data/videobg.mp4", type="video/mp4" title="WORN and FADED - The untold history of the Rock Tee")
				.overlay
							
					//- h1
						img(src='./img/img-01.png', alt="WORN and FADED - The untold history of the Rock Tee")
					h1
						img.animatable(data-animate="animate__animated animate__slideInLeft" src='./img/a_01.png', alt="WORN and FADED - The untold history of the Rock Tee")
						img.animatable(data-animate="animate__animated animate__fadeIn animate__delay-05s" src='./img/a_02.png', alt="WORN and FADED - The untold history of the Rock Tee")
						img.animatable(data-animate="animate__animated animate__slideInRight" src='./img/a_03.png', alt="WORN and FADED - The untold history of the Rock Tee")
						img.animatable(data-animate="animate__animated animate__fadeInUp animate__delay-1s" src='./img/a_04.png', alt="WORN and FADED - The untold history of the Rock Tee")
					ul.list-unstyled
						li.list-item 
							a.viewmore.hoverbtn.d-xl-none.animatable(data-animate="animate__animated animate__fadeInUp animate__delay-1-5s" href="#worn-video")
								span Watch Teaser
							a.viewmore.hoverbtn.d-none.d-xl-block.animatable(data-animate="animate__animated animate__fadeInUp animate__delay-1-5s" href="javascript:void(0);") 
								span Watch Teaser
						//- li.list-item 
							a.viewmore.hoverbtn.animatable(data-animate="animate__animated animate__fadeInUp animate__delay-1-5s" href="#") 
								span Stay up to date
		//- section.section#worn-header-sticky 
			include _layout/header
		section.section#worn-video
			.container 
				.row.g-5 
					.col-12.mb-2 
						h2.mb-5.text-end.animatable(data-animate="active")
							img.img-fluid.animatable(data-animate="animate__animated animate__fadeInLeft" src="./img/title_video.png", alt="WORN and FADED - The untold history of the Rock Tee", srcset="")
			.container.wrapper-2
				.container-2
					.row.gx-5
						.col-lg.order-lg-2.order-1
							.content.animatable(data-animate="animate__animated animate__fadeInUp")
								.intro
									a(href="https://vimeo.com/657660189" data-fancybox="project-media")
										figure
											.blockimg
												img.img-fluid(src="./img/img-03.jpg", alt="WORN and FADED - The untold history of the Rock Tee", srcset="")
												i.bi.bi-play-fill
											figcaption
												h3 Worn & Faded Teaser
						.col-min.col.order-lg-1.order-2
							.content
								.intro
									a(href="https://vimeo.com/657660189" data-fancybox="project-media")
										figure
											.blockimg
												img.img-fluid(src="./img/img-03.jpg", alt="WORN and FADED - The untold history of the Rock Tee", srcset="")
											figcaption
												h4 A brief history of the rock tee
								//- .intro
									a(href="https://vimeo.com/657659506" data-fancybox="project-media")
										figure
											.blockimg
												img.img-fluid(src="./img/img-05.png", alt="WORN and FADED - The untold history of the Rock Tee", srcset="")
											figcaption
												h4 Brief History of the Band Shirt
								//- .intro
								//- 	a(href="https://vimeo.com/657660189" data-fancybox="project-media")
								//- 		figure
								//- 			.blockimg
								//- 				img.img-fluid(src="./img/img-03.jpg", alt="WORN and FADED - The untold history of the Rock Tee", srcset="")
								//- 			figcaption
								//- 				h4 A brief history Teaser
								//- .intro
								//- 	a(href="https://vimeo.com/657660189" data-fancybox="project-media")
								//- 		figure
								//- 			.blockimg
								//- 				img.img-fluid(src="./img/img-03.jpg", alt="WORN and FADED - The untold history of the Rock Tee", srcset="")
								//- 			figcaption
								//- 				h4 A brief history Teaser
								//- .intro
								//- 	a(href="https://vimeo.com/657660189" data-fancybox="project-media")
								//- 		figure
								//- 			.blockimg
								//- 				img.img-fluid(src="./img/img-03.jpg", alt="WORN and FADED - The untold history of the Rock Tee", srcset="")
								//- 			figcaption
								//- 				h4 A brief history Teaser
								//- .intro
								//- 	a(href="https://vimeo.com/657660189" data-fancybox="project-media")
								//- 		figure
								//- 			.blockimg
								//- 				img.img-fluid(src="./img/img-03.jpg", alt="WORN and FADED - The untold history of the Rock Tee", srcset="")
								//- 			figcaption
								//- 				h4 A brief history Teaser
								//- .intro
								//- 	a(href="https://vimeo.com/657660189" data-fancybox="project-media")
								//- 		figure
								//- 			.blockimg
								//- 				img.img-fluid(src="./img/img-03.jpg", alt="WORN and FADED - The untold history of the Rock Tee", srcset="")
								//- 			figcaption
								//- 				h4 A brief history Teaser
								//- .intro
								//- 	a(href="https://vimeo.com/657660189" data-fancybox="project-media")
								//- 		figure
								//- 			.blockimg
								//- 				img.img-fluid(src="./img/img-03.jpg", alt="WORN and FADED - The untold history of the Rock Tee", srcset="")
								//- 			figcaption
								//- 				h4 A brief history Teaser
								//- .intro
								//- 	a(href="https://vimeo.com/657660189" data-fancybox="project-media")
								//- 		figure
								//- 			.blockimg
								//- 				img.img-fluid(src="./img/img-03.jpg", alt="WORN and FADED - The untold history of the Rock Tee", srcset="")
								//- 			figcaption
								//- 				h4 A brief history Teaser
								//- .intro
								//- 	a(href="https://vimeo.com/657660189" data-fancybox="project-media")
								//- 		figure
								//- 			.blockimg
								//- 				img.img-fluid(src="./img/img-03.jpg", alt="WORN and FADED - The untold history of the Rock Tee", srcset="")
								//- 			figcaption
								//- 				h4 A brief history Teaser
		section.section#worn-synopsis
			.container 
				.row.g-5 
					.col-12.mb-5 
						h2.mb-5.text-end.animatable(data-animate="active")
							img.img-fluid.animatable(data-animate="animate__animated animate__fadeInLeft" src="./img/title_synopsis.png", alt="WORN and FADED - The untold history of the Rock Tee", srcset="")
				.row.gx-5
					.col-lg-5.mb-5.mb-lg-0
						.animatable(data-animate="animate__animated animate__fadeInUp")
							h3 About 
							p Worn and Faded is a documentary celebrating the history, evolution, design, and social relevance of the Rock Tee.
					.col-lg-7
						.animatable(data-animate="animate__animated animate__fadeInUp")
							h3 Why It Matters
							p From an ignored piece of merchandise in the late 1960s to a thriving multi-million dollar business in the 1980s, the story of the band shirt involves visionary entrepreneurs, cutting edge graphic designers, musicians and fans across the world.

							p In the process, it evolves from an article of clothing to an integral tool in the expression of self-identity to millions of young people. Pioneers such as Dell Furano have recently passed away so it’s more important than ever to get others’ stories while we can. 
		section.section#worn-involved
			.container 
				.row.g-5 
					.col-12.mb-5 
						h2.mb-5.text-end.animatable(data-animate="active")
							img.img-fluid.animatable(data-animate="animate__animated animate__fadeInLeft" src="./img/title_involved.png", alt="WORN and FADED - The untold history of the Rock Tee", srcset="")
				.row.gx-5
					.col-lg-6.mb-5.mb-lg-0
						.animatable(data-animate="animate__animated animate__fadeInUp")
							//- h3 Partners
							p No one just buys a shirt at a show or at a shop. There’s a story behind it. Something cool happens every time you wear it. Maybe that shirt found you. Maybe you have amassed an arsenal of rock tees more visually stunning than a GWAR set. 
							p Want to share that story? Know somebody who does? Share it with the masses. Drop us a line with a detailed message.
					.col-lg-6.animatable(data-animate="animate__animated animate__fadeInUp")
						#mc_embed_signup_main
							form#mc-embedded-subscribe-form.validate(action="https://wornandfaded.us17.list-manage.com/subscribe/post?u=935adee8aa83ba49e014a12f6&id=77475ae12a", method="post", name="mc-embedded-subscribe-form", target="_blank", novalidate)
								#mc_embed_signup_scroll
								.row.animatable(data-animate="animate__animated animate__fadeInUp")
									.col-6
										//- label(for="mce-FNAME") First Name
										.form-group.mb-3.mc-field-group
											input.form-control#mce-FNAME(type="text", name="FNAME" , placeholder="First name" required)
									.col-6
										//- label(for="mce-LNAME") Last Name
										.form-group.mb-3.mc-field-group
											input.form-control#mce-LNAME(type="text", name="LNAME" , placeholder="Last name" required)
									.col-12
										.form-group.mb-3.mc-field-group
											input.form-control.required.email#mce-EMAIL(type="email", name="EMAIL" placeholder="Email address" required)
									.col-12
										//- label(for="mce-MMERGE6") Website
										.form-group.mb-3.mc-field-group
											input.form-control.url#mce-MMERGE6(type="url", name="MMERGE6" , placeholder="Website")
									.col-12
										//- label(for="mce-MMERGE7") Message
										.form-group.mb-3.mc-field-group
											textarea.form-control#mce-MMERGE7(rows="3", type="text", name="MMERGE7" , placeholder="Message" required)
								#mce-responses.clear.foot
									.response#mce-error-response(style="display:none")
									.response#mce-success-response(style="display:none")
								//  real people should not fill this in and expect good things - do not remove this or risk form bot signups
								div(style="position: absolute; left: -5000px;", aria-hidden="true")
									input(type="text", name="b_935adee8aa83ba49e014a12f6_77475ae12a", tabindex="-1")
								.optionalParent
									.clear.foot
									.form-group.d-flex.justify-content-lg-end
										input.btn.btn-primary#mc-embedded-subscribe.button(type="submit", value="Submit", name="subscribe")
									//- p.brandingLogo
										a(href="http://eepurl.com/h1spJL", title="Mailchimp - email marketing made easy and fun")
										img(src="https://eep.io/mc-cdn-images/template_images/branding_logo_text_dark_dtp.svg")
								//- script(type="text/javascript", src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js")
								//- script(type="text/javascript") (function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';fnames[6]='MMERGE6';ftypes[6]='url';fnames[7]='MMERGE7';ftypes[7]='text';}(jQuery));var $mcj = jQuery.noConflict(true);
							// End mc_embed_signup
						//- .small.mt-3.opacity-50 Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem ratione nostrum distinctio qui, officiis aperiam iure officia in ad beatae incidunt. Veniam voluptas molestias laboriosam fugiat porro ut blanditiis minus?
						//- .row.animatable(data-animate="animate__animated animate__fadeInUp")
							.col-lg-6 
								.form-group.mb-3
									input.form-control(type="text", placeholder="First name")
							.col-lg-6 
								.form-group.mb-3
									input.form-control(type="text", placeholder="Last name")
							.col-lg-12
								.form-group.mb-3
									input.form-control(type="text", placeholder="Email")
							.col-lg-12
								.form-group.mb-3
									textarea.form-control(rows="3", placeholder="Message")
							.col-lg-12
								.form-group.mb-3
									input.form-control(type="text", placeholder="Website")
							.col-lg-12
								.form-group.d-flex.justify-content-lg-end
									button.btn.btn-primary(type="submit") Submit
		section.section#worn-credits
			.container 
				.row.g-5 
					.col-12.mb-5 
						h2.mb-5.text-end.animatable(data-animate="active")
							img.img-fluid.animatable(data-animate="animate__animated animate__fadeInLeft" src="./img/title_credits.png", alt="WORN and FADED - The untold history of the Rock Tee", srcset="")
				.row.gx-5
					.col-lg-6.mb-5.mb-xl-0.animatable(data-animate="animate__animated animate__fadeInUp")
						h3 Benjamin Jones
						p.lead Director/Producer
						p Director and Editor Benjamin Jones has been creating video content professionally since 2006. He has worked extensively in the printed apparel space and has produced videos for Motion Textile, Jak Prints, the Ink Kitchen, Print Hustlers Conference, Made Lab and Bella + Canvas. Music is a strong passion of his and he has produced over 50 music videos through his production company TBJ Productions and has worked with artists such as DEVO, Cold War Kids, Marilyn Manson, Zakk Wylde, Andrew W.K. and many more. www.tbjproductions.com
						ul.social 
							li
								a(href="https://instagram.com/tbjproductions" target="_blank")
									i.bi.bi-instagram
							li
								a(href="https://facebook.com/tbjproductions" target="_blank")
									i.bi.bi-facebook
					.col-lg-6.mb-5.mb-xl-0.animatable(data-animate="animate__animated animate__fadeInUp")
						h3 MADE Laboratory
						p.lead Producer
						p MADE Laboratory is the center for Modern Apparel Development and Education. Founded by a team of people who spent decades in the music and merch industry, MADE takes an approach to apparel decoration and marketing from skills gained on the road or in the print shop. With eyes and minds constantly set on the crests of new fashion trends and new printing technologies, MADE aims to share it with everyone.
						p ‘Bring forth the new ways of apparel decoration, and master the old.’
						ul.social 
							li 
								a.facebook(href="https://www.facebook.com/MADELab.io/" target="_blank")
									i.bi.bi-facebook
							//- li
								a.twitter(href="https://twitter.com/")
									i.bi.bi-twitter
							li
								a.instagram(href="https://www.instagram.com/MADELab.io/" target="_blank")
									i.bi.bi-instagram
		include _layout/footer

	script(type="text/javascript", src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js")
	script(type="text/javascript") (function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';fnames[6]='MMERGE6';ftypes[6]='url';fnames[7]='MMERGE7';ftypes[7]='text';}(jQuery));var $mcj = jQuery.noConflict(true);