extends _layout/layout

block variables
	- var title = 'WORN and FADED - The untold history of the Rock Tee'
	- var description = 'WORN and FADED - The untold history of the Rock Tee'
	- var bodyclass = 'home'
	- var href = "/index.html"

block body
	