extends _layout/layout

block variables
	- var title = 'MADELAB'
	- var description = 'MADELAB'
	- var bodyclass = 'home'
	- var href = "/index.html"

block body
	#made-home
		h1 Welcome to MADELAB Develop Tools